In [8]:
import pandas as pd

## Task 1

### POLITICAL SEATS DATAFRAME

In [9]:
political_seats = pd.read_csv("../datasets/political_seats.csv", encoding="iso8859_10", header=1)
political_seats

,region,party,1973,1976,1979,1982,1985,1988,1991,1994,1998,2002,2006,2010,2014,2018,2022
0,0114 Upplands Väsby,The Moderate Party,6,7,10,13,13,12,15,14,16,11,17,17,13,12,11
1,0114 Upplands Väsby,The Centre Party,9,7,6,4,2,2,2,2,2,2,2,2,2,2,2
2,0114 Upplands Väsby,The Liberal Party,4,5,5,3,6,7,6,4,4,8,6,6,4,3,2
3,0114 Upplands Väsby,The Christian Democratic Party,0,0,0,1,0,0,2,1,3,3,3,2,2,3,2
4,0114 Upplands Väsby,The Green Party,..,..,..,1,2,4,2,3,2,2,3,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,2584 Kiruna,The Green Party,..,..,..,0,0,1,1,2,1,2,1,1,1,0,0
2615,2584 Kiruna,The Social Democratic Party,22,24,25,27,26,25,23,14,16,15,16,16,15,12,19
2616,2584 Kiruna,The Left Party,9,8,7,8,8,8,8,8,5,6,5,6,4,3,4
2617,2584 Kiruna,The Sweden Democrats,..,..,..,..,..,0,0,0,0,0,0,0,1,2,2
2618,2584 Kiruna,Other Parties,0,0,2,1,1,1,0,15,16,15,17,8,8,9,6

In [10]:
# ".." in this case is a null value.
print(political_seats.eq("..").sum())
political_seats = political_seats.replace("..", 0)
political_seats.eq("..").any()

region      0
party       0
1973      673
1976      680
1979      666
1982      347
1985      347
1988       63
1991       45
1994       27
1998       18
2002        9
2006        9
2010        9
2014        9
2018        0
2022        0
dtype: int64

region    False
party     False
1973      False
1976      False
1979      False
1982      False
1985      False
1988      False
1991      False
1994      False
1998      False
2002      False
2006      False
2010      False
2014      False
2018      False
2022      False
dtype: bool

In [11]:
political_seats = political_seats.melt(id_vars=["region", "party"], var_name="year", value_name="value")
political_seats = political_seats.pivot_table(index=["year", "region"], columns="party", values="value")
political_seats

party                     Other Parties  The Centre Party  \
year region
1973 0114 Upplands Väsby            0.0               9.0
     0115 Vallentuna                0.0              12.0
     0117 Österåker                 0.0               0.0
     0120 Värmdö                    0.0               8.0
     0123 Järfälla                  0.0              10.0
...                                 ...               ...
2022 2580 Luleå                     2.0               4.0
     2581 Piteå                     3.0               5.0
     2582 Boden                     4.0               3.0
     2583 Haparanda                 2.0               6.0
     2584 Kiruna                    6.0               4.0

party                     The Christian Democratic Party  The Green Party  \
year region
1973 0114 Upplands Väsby                             0.0              0.0
     0115 Vallentuna                                 0.0              0.0
     0117 Österåker                                  0.0              0.0
     0120 Värmdö                                     0.0              0.0
     0123 Järfälla                                   0.0              0.0
...                                                  ...              ...
2022 2580 Luleå                                      4.0              2.0
     2581 Piteå                                      2.0              1.0
     2582 Boden                                      1.0              0.0
     2583 Haparanda                                  2.0              0.0
     2584 Kiruna                                     5.0              0.0

party                     The Left Party  The Liberal Party  \
year region
1973 0114 Upplands Väsby             3.0                4.0
     0115 Vallentuna                 2.0                6.0
     0117 Österåker                  0.0                0.0
     0120 Värmdö                     3.0                4.0
     0123 Järfälla                   3.0                7.0
...                                  ...                ...
2022 2580 Luleå                      6.0                3.0
     2581 Piteå                      5.0                0.0
     2582 Boden                      3.0                0.0
     2583 Haparanda                  1.0                0.0
     2584 Kiruna                     4.0                0.0

party                     The Moderate Party  The Social Democratic Party  \
year region
1973 0114 Upplands Väsby                 6.0                         19.0
     0115 Vallentuna                     7.0                         14.0
     0117 Österåker                      0.0                          0.0
     0120 Värmdö                         7.0                         19.0
     0123 Järfälla                      10.0                         21.0
...                                      ...                          ...
2022 2580 Luleå                         10.0                         24.0
     2581 Piteå                          8.0                         22.0
     2582 Boden                          7.0                         24.0
     2583 Haparanda                      4.0                         12.0
     2584 Kiruna                         5.0                         19.0

party                     The Sweden Democrats
year region
1973 0114 Upplands Väsby                   0.0
     0115 Vallentuna                       0.0
     0117 Österåker                        0.0
     0120 Värmdö                           0.0
     0123 Järfälla                         0.0
...                                        ...
2022 2580 Luleå                            6.0
     2581 Piteå                            5.0
     2582 Boden                            7.0
     2583 Haparanda                        4.0
     2584 Kiruna                           2.0

[4365 rows x 9 columns]

### INCOME STATEMENTS DATAFRAME

In [12]:
income = pd.read_csv("../datasets/income_statements.csv", encoding="iso8859_10", header=1)

In [13]:
years = income.columns[2:].to_list()
features = income["Income statement"].unique().tolist()
features.append("region")
income = income.melt(id_vars=["region", "Income statement"], var_name="year", value_name="value")
income.pivot_table(index=["year", "region"], columns="Income statement", values="value")

C:\Users\isacs\AppData\Local\Temp\ipykernel_1708\1448447247.py:5: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  income.pivot_table(index=["year", "region"], columns="Income statement", values="value")

Empty DataFrame
Columns: []
Index: [(1998, 0114 Upplands Väsby), (1998, 0115 Vallentuna), (1998, 0117 Österåker), (1998, 0120 Värmdö), (1998, 0123 Järfälla), (1998, 0125 Ekerö), (1998, 0126 Huddinge), (1998, 0127 Botkyrka), (1998, 0128 Salem), (1998, 0136 Haninge), (1998, 0138 Tyresö), (1998, 0139 Upplands-Bro), (1998, 0140 Nykvarn), (1998, 0160 Täby), (1998, 0162 Danderyd), (1998, 0163 Sollentuna), (1998, 0180 Stockholm), (1998, 0181 Södertälje), (1998, 0182 Nacka), (1998, 0183 Sundbyberg), (1998, 0184 Solna), (1998, 0186 Lidingö), (1998, 0187 Vaxholm), (1998, 0188 Norrtälje), (1998, 0191 Sigtuna), (1998, 0192 Nynäshamn), (1998, 0305 Håbo), (1998, 0319 Älvkarleby), (1998, 0330 Knivsta), (1998, 0331 Heby), (1998, 0360 Tierp), (1998, 0380 Uppsala), (1998, 0381 Enköping), (1998, 0382 Östhammar), (1998, 0428 Vingåker), (1998, 0461 Gnesta), (1998, 0480 Nyköping), (1998, 0481 Oxelösund), (1998, 0482 Flen), (1998, 0483 Katrineholm), (1998, 0484 Eskilstuna), (1998, 0486 Strängnäs), (1998, 0488 Trosa), (1998, 0509 Ödeshög), (1998, 0512 Ydre), (1998, 0513 Kinda), (1998, 0560 Boxholm), (1998, 0561 Åtvidaberg), (1998, 0562 Finspång), (1998, 0563 Valdemarsvik), (1998, 0580 Linköping), (1998, 0581 Norrköping), (1998, 0582 Söderköping), (1998, 0583 Motala), (1998, 0584 Vadstena), (1998, 0586 Mjölby), (1998, 0604 Aneby), (1998, 0617 Gnosjö), (1998, 0642 Mullsjö), (1998, 0643 Habo), (1998, 0662 Gislaved), (1998, 0665 Vaggeryd), (1998, 0680 Jönköping), (1998, 0682 Nässjö), (1998, 0683 Värnamo), (1998, 0684 Sävsjö), (1998, 0685 Vetlanda), (1998, 0686 Eksjö), (1998, 0687 Tranås), (1998, 0760 Uppvidinge), (1998, 0761 Lessebo), (1998, 0763 Tingsryd), (1998, 0764 Alvesta), (1998, 0765 Älmhult), (1998, 0767 Markaryd), (1998, 0780 Växjö), (1998, 0781 Ljungby), (1998, 0821 Högsby), (1998, 0834 Torsås), (1998, 0840 Mörbylånga), (1998, 0860 Hultsfred), (1998, 0861 Mönsterås), (1998, 0862 Emmaboda), (1998, 0880 Kalmar), (1998, 0881 Nybro), (1998, 0882 Oskarshamn), (1998, 0883 Västervik), (1998, 0884 Vimmerby), (1998, 0885 Borgholm), (1998, 0980 Gotland), (1998, 1060 Olofström), (1998, 1080 Karlskrona), (1998, 1081 Ronneby), (1998, 1082 Karlshamn), (1998, 1083 Sölvesborg), (1998, 1214 Svalöv), (1998, 1230 Staffanstorp), (1998, 1231 Burlöv), (1998, 1233 Vellinge), (1998, 1256 Östra Göinge), ...]

[7250 rows x 0 columns]

## Task 2

## Task 3

## Task 4

## Task 5