In [1]:
import pandas as pd

## Task 1

### POLITICAL SEATS DATAFRAME

In [2]:
political_seats = pd.read_csv("../datasets/political_seats.csv", encoding="iso8859_10", header=1)
political_seats

,region,party,1973,1976,1979,1982,1985,1988,1991,1994,1998,2002,2006,2010,2014,2018,2022
0,0114 Upplands Väsby,The Moderate Party,6,7,10,13,13,12,15,14,16,11,17,17,13,12,11
1,0114 Upplands Väsby,The Centre Party,9,7,6,4,2,2,2,2,2,2,2,2,2,2,2
2,0114 Upplands Väsby,The Liberal Party,4,5,5,3,6,7,6,4,4,8,6,6,4,3,2
3,0114 Upplands Väsby,The Christian Democratic Party,0,0,0,1,0,0,2,1,3,3,3,2,2,3,2
4,0114 Upplands Väsby,The Green Party,..,..,..,1,2,4,2,3,2,2,3,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,2584 Kiruna,The Green Party,..,..,..,0,0,1,1,2,1,2,1,1,1,0,0
2615,2584 Kiruna,The Social Democratic Party,22,24,25,27,26,25,23,14,16,15,16,16,15,12,19
2616,2584 Kiruna,The Left Party,9,8,7,8,8,8,8,8,5,6,5,6,4,3,4
2617,2584 Kiruna,The Sweden Democrats,..,..,..,..,..,0,0,0,0,0,0,0,1,2,2
2618,2584 Kiruna,Other Parties,0,0,2,1,1,1,0,15,16,15,17,8,8,9,6

In [3]:
# ".." in this case is a null value.
print(political_seats.eq("..").sum())
political_seats = political_seats.replace("..", 0)
political_seats.eq("..").any()

region      0
party       0
1973      673
1976      680
1979      666
1982      347
1985      347
1988       63
1991       45
1994       27
1998       18
2002        9
2006        9
2010        9
2014        9
2018        0
2022        0
dtype: int64

region    False
party     False
1973      False
1976      False
1979      False
1982      False
1985      False
1988      False
1991      False
1994      False
1998      False
2002      False
2006      False
2010      False
2014      False
2018      False
2022      False
dtype: bool

In [4]:
political_seats = political_seats.melt(id_vars=["region", "party"], var_name="year", value_name="value")
political_seats = political_seats.pivot_table(index=["year", "region"], columns="party", values="value")
political_seats

party                     Other Parties  The Centre Party  \
year region
1973 0114 Upplands Väsby            0.0               9.0
     0115 Vallentuna                0.0              12.0
     0117 Österåker                 0.0               0.0
     0120 Värmdö                    0.0               8.0
     0123 Järfälla                  0.0              10.0
...                                 ...               ...
2022 2580 Luleå                     2.0               4.0
     2581 Piteå                     3.0               5.0
     2582 Boden                     4.0               3.0
     2583 Haparanda                 2.0               6.0
     2584 Kiruna                    6.0               4.0

party                     The Christian Democratic Party  The Green Party  \
year region
1973 0114 Upplands Väsby                             0.0              0.0
     0115 Vallentuna                                 0.0              0.0
     0117 Österåker                                  0.0              0.0
     0120 Värmdö                                     0.0              0.0
     0123 Järfälla                                   0.0              0.0
...                                                  ...              ...
2022 2580 Luleå                                      4.0              2.0
     2581 Piteå                                      2.0              1.0
     2582 Boden                                      1.0              0.0
     2583 Haparanda                                  2.0              0.0
     2584 Kiruna                                     5.0              0.0

party                     The Left Party  The Liberal Party  \
year region
1973 0114 Upplands Väsby             3.0                4.0
     0115 Vallentuna                 2.0                6.0
     0117 Österåker                  0.0                0.0
     0120 Värmdö                     3.0                4.0
     0123 Järfälla                   3.0                7.0
...                                  ...                ...
2022 2580 Luleå                      6.0                3.0
     2581 Piteå                      5.0                0.0
     2582 Boden                      3.0                0.0
     2583 Haparanda                  1.0                0.0
     2584 Kiruna                     4.0                0.0

party                     The Moderate Party  The Social Democratic Party  \
year region
1973 0114 Upplands Väsby                 6.0                         19.0
     0115 Vallentuna                     7.0                         14.0
     0117 Österåker                      0.0                          0.0
     0120 Värmdö                         7.0                         19.0
     0123 Järfälla                      10.0                         21.0
...                                      ...                          ...
2022 2580 Luleå                         10.0                         24.0
     2581 Piteå                          8.0                         22.0
     2582 Boden                          7.0                         24.0
     2583 Haparanda                      4.0                         12.0
     2584 Kiruna                         5.0                         19.0

party                     The Sweden Democrats
year region
1973 0114 Upplands Väsby                   0.0
     0115 Vallentuna                       0.0
     0117 Österåker                        0.0
     0120 Värmdö                           0.0
     0123 Järfälla                         0.0
...                                        ...
2022 2580 Luleå                            6.0
     2581 Piteå                            5.0
     2582 Boden                            7.0
     2583 Haparanda                        4.0
     2584 Kiruna                           2.0

[4365 rows x 9 columns]

### INCOME STATEMENTS DATAFRAME

In [34]:
income = pd.read_csv("../datasets/income_statements.csv", encoding="iso8859_10", header=1)

In [35]:
years = income.columns[2:].to_list()
features = income["Income statement"].unique().tolist()
features.append("region")
income = income.melt(id_vars=["region", "Income statement"], var_name="year", value_name="value")

In [36]:
income = income.replace("..", 0)

In [37]:
income.pivot_table(index=["year", "region"], columns="Income statement", values="value")

Income statement          Financial costs  Financial income  \
year region
1998 0114 Upplands Väsby         -41173.0            9670.0
     0115 Vallentuna              -4336.0            2830.0
     0117 Österåker              -11864.0            2744.0
     0120 Värmdö                  -9126.0           13084.0
     0123 Järfälla               -28963.0           38367.0
...                                   ...               ...
2022 2580 Luleå                  -22344.0           33527.0
     2581 Piteå                  -48398.0           30962.0
     2582 Boden                  -11726.0            9596.0
     2583 Haparanda               -8482.0            1818.0
     2584 Kiruna                 -43329.0           17150.0

Income statement          General grants and equalisation grants  \
year region
1998 0114 Upplands Väsby                                 45111.0
     0115 Vallentuna                                     65610.0
     0117 Österåker                                      33576.0
     0120 Värmdö                                         75678.0
     0123 Järfälla                                       29869.0
...                                                          ...
2022 2580 Luleå                                         755227.0
     2581 Piteå                                         489887.0
     2582 Boden                                         515880.0
     2583 Haparanda                                     310820.0
     2584 Kiruna                                        211547.0

Income statement          Net profit/loss after financial items  \
year region
1998 0114 Upplands Väsby                                20682.0
     0115 Vallentuna                                     1637.0
     0117 Österåker                                    -16383.0
     0120 Värmdö                                         6122.0
     0123 Järfälla                                     -46365.0
...                                                         ...
2022 2580 Luleå                                        437684.0
     2581 Piteå                                        160393.0
     2582 Boden                                         27473.0
     2583 Haparanda                                     62488.0
     2584 Kiruna                                        35999.0

Income statement          Net profit/loss for operations  \
year region
1998 0114 Upplands Väsby                             0.0
     0115 Vallentuna                                 0.0
     0117 Österåker                                  0.0
     0120 Värmdö                                     0.0
     0123 Järfälla                                   0.0
...                                                  ...
2022 2580 Luleå                                 426501.0
     2581 Piteå                                 177829.0
     2582 Boden                                  29603.0
     2583 Haparanda                              69152.0
     2584 Kiruna                                 62178.0

Income statement          Net profit/loss for the year  Tax revenues  \
year region
1998 0114 Upplands Väsby                       20682.0      897383.0
     0115 Vallentuna                            1637.0      512948.0
     0117 Österåker                           -16383.0      796805.0
     0120 Värmdö                              -37434.0      599374.0
     0123 Järfälla                            -46365.0     1470174.0
...                                                ...           ...
2022 2580 Luleå                               437684.0     4572142.0
     2581 Piteå                               160393.0     2354694.0
     2582 Boden                                27473.0     1548002.0
     2583 Haparanda                            62488.0      437170.0
     2584 Kiruna                               35999.0     1494330.0

Income statement          Total costs for operations  \
year region
1998 0114 Upplands Väsby                  -1141598.0
     0115 Vallentuna                       -693766.0
     0117 Österåker                        -943541.0
     0120 Värmdö                           -860946.0
     0123 Järfälla                        -1860438.0
...                                              ...
2022 2580 Luleå                           -5743601.0
     2581 Piteå                           -3214235.0
     2582 Boden                           -2484028.0
     2583 Haparanda                        -850847.0
     2584 Kiruna                          -1925090.0

Income statement          Total income for operations  Total net current costs
year region
1998 0114 Upplands Väsby                     313859.0                -889629.0
     0115 Vallentuna                         162613.0                -575147.0
     0117 Österåker                          135658.0                -836791.0
     0120 Värmdö                             214929.0                -672588.0
     0123 Järfälla                           420013.0               -1553654.0
...                                               ...                      ...
2022 2580 Luleå                             1228154.0               -4900868.0
     2581 Piteå                              678267.0               -2666752.0
     2582 Boden                              560530.0               -2034279.0
     2583 Haparanda                          213307.0                -678838.0
     2584 Kiruna                             391929.0               -1643699.0

[7250 rows x 10 columns]

## Task 2

## Task 3

## Task 4

## Task 5