In [22]:
import pandas as pd

## Task 1

In [23]:
political_seats = pd.read_csv("../datasets/political_seats.csv", encoding="iso8859_10", header=1)
political_seats

,region,party,1973,1976,1979,1982,1985,1988,1991,1994,1998,2002,2006,2010,2014,2018,2022
0,0114 Upplands Väsby,The Moderate Party,6,7,10,13,13,12,15,14,16,11,17,17,13,12,11
1,0114 Upplands Väsby,The Centre Party,9,7,6,4,2,2,2,2,2,2,2,2,2,2,2
2,0114 Upplands Väsby,The Liberal Party,4,5,5,3,6,7,6,4,4,8,6,6,4,3,2
3,0114 Upplands Väsby,The Christian Democratic Party,0,0,0,1,0,0,2,1,3,3,3,2,2,3,2
4,0114 Upplands Väsby,The Green Party,..,..,..,1,2,4,2,3,2,2,3,5,5,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2614,2584 Kiruna,The Green Party,..,..,..,0,0,1,1,2,1,2,1,1,1,0,0
2615,2584 Kiruna,The Social Democratic Party,22,24,25,27,26,25,23,14,16,15,16,16,15,12,19
2616,2584 Kiruna,The Left Party,9,8,7,8,8,8,8,8,5,6,5,6,4,3,4
2617,2584 Kiruna,The Sweden Democrats,..,..,..,..,..,0,0,0,0,0,0,0,1,2,2
2618,2584 Kiruna,Other Parties,0,0,2,1,1,1,0,15,16,15,17,8,8,9,6

In [24]:
income = pd.read_csv("../datasets/income_statements.csv", encoding="iso8859_10", header=1)
income

,region,Income statement,1998,1999,2000,2001,2002,2003,2004,2005,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0114 Upplands Väsby,Total income for operations,313859,320220,336174,336141,323270,326945,338661,294027,...,535209,456069,481597,583319,679812,647216,761770,821974,695537,712874
1,0114 Upplands Väsby,Total costs for operations,-1141598,-1203938,-1252714,-1350430,-1394331,-1425350,-1436221,-1482268,...,-2151509,-2243467,-2334378,-2569542,-2763185,-2855518,-2991574,-3141144,-3196316,-3427886
2,0114 Upplands Väsby,Total net current costs,-889629,-952527,-985316,-1087250,-1141651,-1173078,-1173210,-1262964,...,-1727400,-1860350,-2030832,-2075700,-2192740,-2325264,-2362143,-2445112,-2628115,-2847551
3,0114 Upplands Väsby,Tax revenues,897383,949536,1030710,1114591,1187046,1261155,1261098,1261400,...,1591627,1647867,1754223,1853785,1944788,1994208,2076660,2084321,2235203,2389181
4,0114 Upplands Väsby,General grants and equalisation grants,45111,45305,20248,-15154,-44613,-85979,-78680,11879,...,234573,250406,227687,256824,326711,342292,378413,570439,571510,575662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,2584 Kiruna,Net profit/loss for operations,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,130219,293076,801487,62178
2896,2584 Kiruna,Financial income,4907,2791,3348,4208,2837,2056,2832,4090,...,30800,28652,19959,13836,8370,10979,15280,14139,14378,17150
2897,2584 Kiruna,Financial costs,-3459,-2946,-3524,-4396,-4660,-4084,-3274,-2301,...,-38300,-35043,-28583,-19080,-15799,-17741,-17601,-19621,-16791,-43329
2898,2584 Kiruna,Net profit/loss after financial items,-16441,-16854,4540,-6432,-27135,9895,16197,36350,...,-57874,341559,2259704,795,65444,612491,127898,287593,799074,35999
2899,2584 Kiruna,Net profit/loss for the year,-16441,-50404,4540,-6432,-27135,-10105,16197,36350,...,-57874,341559,2259704,795,65444,612491,127898,287593,799074,35999

In [25]:

#test = income.pivot_table(values="2022", index="region", columns="Income statement", dropna=False)
#test["year+reg"] = "2022"
#for reg in regions:
#  test.loc[reg:,"year+reg"] = "2022 " + reg
#test = test.set_index(test["year+reg"])
#test.drop("year+reg", axis=1)

In [26]:
income = pd.read_csv("../datasets/income_statements.csv", encoding="iso8859_10", header=1)
years = income.columns[2:].to_list()
features = income["Income statement"].unique().tolist()
features.append("region")
income = income.melt(id_vars=["region", "Income statement"], var_name="year", value_name="value")
income.pivot_table(index=["year", "region"], columns="Income statement", values="value")

In [27]:
income

,region,Income statement,year,value
0,0114 Upplands Väsby,Total income for operations,1998,313859
1,0114 Upplands Väsby,Total costs for operations,1998,-1141598
2,0114 Upplands Väsby,Total net current costs,1998,-889629
3,0114 Upplands Väsby,Tax revenues,1998,897383
4,0114 Upplands Väsby,General grants and equalisation grants,1998,45111
...,...,...,...,...
72495,2584 Kiruna,Net profit/loss for operations,2022,62178
72496,2584 Kiruna,Financial income,2022,17150
72497,2584 Kiruna,Financial costs,2022,-43329
72498,2584 Kiruna,Net profit/loss after financial items,2022,35999
72499,2584 Kiruna,Net profit/loss for the year,2022,35999

C:\Users\oskar\AppData\Local\Temp\ipykernel_16164\535531105.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  income.pivot_table(index=["year", "region"], columns="Income statement", values="value")

Empty DataFrame
Columns: []
Index: [(1998, 0114 Upplands Väsby), (1998, 0115 Vallentuna), (1998, 0117 Österåker), (1998, 0120 Värmdö), (1998, 0123 Järfälla), (1998, 0125 Ekerö), (1998, 0126 Huddinge), (1998, 0127 Botkyrka), (1998, 0128 Salem), (1998, 0136 Haninge), (1998, 0138 Tyresö), (1998, 0139 Upplands-Bro), (1998, 0140 Nykvarn), (1998, 0160 Täby), (1998, 0162 Danderyd), (1998, 0163 Sollentuna), (1998, 0180 Stockholm), (1998, 0181 Södertälje), (1998, 0182 Nacka), (1998, 0183 Sundbyberg), (1998, 0184 Solna), (1998, 0186 Lidingö), (1998, 0187 Vaxholm), (1998, 0188 Norrtälje), (1998, 0191 Sigtuna), (1998, 0192 Nynäshamn), (1998, 0305 Håbo), (1998, 0319 Älvkarleby), (1998, 0330 Knivsta), (1998, 0331 Heby), (1998, 0360 Tierp), (1998, 0380 Uppsala), (1998, 0381 Enköping), (1998, 0382 Östhammar), (1998, 0428 Vingåker), (1998, 0461 Gnesta), (1998, 0480 Nyköping), (1998, 0481 Oxelösund), (1998, 0482 Flen), (1998, 0483 Katrineholm), (1998, 0484 Eskilstuna), (1998, 0486 Strängnäs), (1998, 0488 Trosa), (1998, 0509 Ödeshög), (1998, 0512 Ydre), (1998, 0513 Kinda), (1998, 0560 Boxholm), (1998, 0561 Åtvidaberg), (1998, 0562 Finspång), (1998, 0563 Valdemarsvik), (1998, 0580 Linköping), (1998, 0581 Norrköping), (1998, 0582 Söderköping), (1998, 0583 Motala), (1998, 0584 Vadstena), (1998, 0586 Mjölby), (1998, 0604 Aneby), (1998, 0617 Gnosjö), (1998, 0642 Mullsjö), (1998, 0643 Habo), (1998, 0662 Gislaved), (1998, 0665 Vaggeryd), (1998, 0680 Jönköping), (1998, 0682 Nässjö), (1998, 0683 Värnamo), (1998, 0684 Sävsjö), (1998, 0685 Vetlanda), (1998, 0686 Eksjö), (1998, 0687 Tranås), (1998, 0760 Uppvidinge), (1998, 0761 Lessebo), (1998, 0763 Tingsryd), (1998, 0764 Alvesta), (1998, 0765 Älmhult), (1998, 0767 Markaryd), (1998, 0780 Växjö), (1998, 0781 Ljungby), (1998, 0821 Högsby), (1998, 0834 Torsås), (1998, 0840 Mörbylånga), (1998, 0860 Hultsfred), (1998, 0861 Mönsterås), (1998, 0862 Emmaboda), (1998, 0880 Kalmar), (1998, 0881 Nybro), (1998, 0882 Oskarshamn), (1998, 0883 Västervik), (1998, 0884 Vimmerby), (1998, 0885 Borgholm), (1998, 0980 Gotland), (1998, 1060 Olofström), (1998, 1080 Karlskrona), (1998, 1081 Ronneby), (1998, 1082 Karlshamn), (1998, 1083 Sölvesborg), (1998, 1214 Svalöv), (1998, 1230 Staffanstorp), (1998, 1231 Burlöv), (1998, 1233 Vellinge), (1998, 1256 Östra Göinge), ...]

[7250 rows x 0 columns]

Empty DataFrame
Columns: []
Index: [(1998, 0114 Upplands Väsby), (1998, 0115 Vallentuna), (1998, 0117 Österåker), (1998, 0120 Värmdö), (1998, 0123 Järfälla), (1998, 0125 Ekerö), (1998, 0126 Huddinge), (1998, 0127 Botkyrka), (1998, 0128 Salem), (1998, 0136 Haninge), (1998, 0138 Tyresö), (1998, 0139 Upplands-Bro), (1998, 0140 Nykvarn), (1998, 0160 Täby), (1998, 0162 Danderyd), (1998, 0163 Sollentuna), (1998, 0180 Stockholm), (1998, 0181 Södertälje), (1998, 0182 Nacka), (1998, 0183 Sundbyberg), (1998, 0184 Solna), (1998, 0186 Lidingö), (1998, 0187 Vaxholm), (1998, 0188 Norrtälje), (1998, 0191 Sigtuna), (1998, 0192 Nynäshamn), (1998, 0305 Håbo), (1998, 0319 Älvkarleby), (1998, 0330 Knivsta), (1998, 0331 Heby), (1998, 0360 Tierp), (1998, 0380 Uppsala), (1998, 0381 Enköping), (1998, 0382 Östhammar), (1998, 0428 Vingåker), (1998, 0461 Gnesta), (1998, 0480 Nyköping), (1998, 0481 Oxelösund), (1998, 0482 Flen), (1998, 0483 Katrineholm), (1998, 0484 Eskilstuna), (1998, 0486 Strängnäs), (1998, 0488 Trosa), (1998, 0509 Ödeshög), (1998, 0512 Ydre), (1998, 0513 Kinda), (1998, 0560 Boxholm), (1998, 0561 Åtvidaberg), (1998, 0562 Finspång), (1998, 0563 Valdemarsvik), (1998, 0580 Linköping), (1998, 0581 Norrköping), (1998, 0582 Söderköping), (1998, 0583 Motala), (1998, 0584 Vadstena), (1998, 0586 Mjölby), (1998, 0604 Aneby), (1998, 0617 Gnosjö), (1998, 0642 Mullsjö), (1998, 0643 Habo), (1998, 0662 Gislaved), (1998, 0665 Vaggeryd), (1998, 0680 Jönköping), (1998, 0682 Nässjö), (1998, 0683 Värnamo), (1998, 0684 Sävsjö), (1998, 0685 Vetlanda), (1998, 0686 Eksjö), (1998, 0687 Tranås), (1998, 0760 Uppvidinge), (1998, 0761 Lessebo), (1998, 0763 Tingsryd), (1998, 0764 Alvesta), (1998, 0765 Älmhult), (1998, 0767 Markaryd), (1998, 0780 Växjö), (1998, 0781 Ljungby), (1998, 0821 Högsby), (1998, 0834 Torsås), (1998, 0840 Mörbylånga), (1998, 0860 Hultsfred), (1998, 0861 Mönsterås), (1998, 0862 Emmaboda), (1998, 0880 Kalmar), (1998, 0881 Nybro), (1998, 0882 Oskarshamn), (1998, 0883 Västervik), (1998, 0884 Vimmerby), (1998, 0885 Borgholm), (1998, 0980 Gotland), (1998, 1060 Olofström), (1998, 1080 Karlskrona), (1998, 1081 Ronneby), (1998, 1082 Karlshamn), (1998, 1083 Sölvesborg), (1998, 1214 Svalöv), (1998, 1230 Staffanstorp), (1998, 1231 Burlöv), (1998, 1233 Vellinge), (1998, 1256 Östra Göinge), ...]

[7250 rows x 0 columns]

## Task 2

## Task 3

## Task 4

## Task 5