In [187]:
install.packages("readr")

Warning message:
"package 'readr' is in use and will not be installed"

In [188]:
library(tidyverse)
library(lubridate)
library(hms)
library(readr)
library(tidyr)
library(dplyr)

## TASK 1

### Political Seats

In [189]:
political_seats <- read_delim("../datasets/political_seats.csv", delim = ",", locale = locale(encoding = "ISO-8859-1"), skip = 2)
head(political_seats)

Rows: 2619 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (15): region, party, 1973, 1976, 1979, 1982, 1985, 1988, 1991, 1994, 199...
dbl  (2): 2018, 2022

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  region              party                          1973 1976 1979 1982 1985
1 0114 Upplands Väsby The Moderate Party             6    7    10   13   13
2 0114 Upplands Väsby The Centre Party               9    7    6    4    2
3 0114 Upplands Väsby The Liberal Party              4    5    5    3    6
4 0114 Upplands Väsby The Christian Democratic Party 0    0    0    1    0
5 0114 Upplands Väsby The Green Party                ..   ..   ..   1    2
6 0114 Upplands Väsby The Social Democratic Party    19   19   23   24   23
  1988 1991 1994 1998 2002 2006 2010 2014 2018 2022
1 12   15   14   16   11   17   17   13   12   11
2 2    2    2    2    2    2    2    2     2    2
3 7    6    4    4    8    6    6    4     3    2
4 0    2    1    3    3    3    2    2     3    2
5 4    2    3    2    2    3    5    5     2    2
6 23   18   24   18   20   16   15   16   13   14

In [190]:
print(colSums(political_seats == ".."))

political_seats[political_seats==".."] <- "0"

print(colSums(political_seats == ".."))
head(political_seats)

region  party   1973   1976   1979   1982   1985   1988   1991   1994   1998
     0      0    673    680    666    347    347     63     45     27     18
  2002   2006   2010   2014   2018   2022
     9      9      9      9      0      0
region  party   1973   1976   1979   1982   1985   1988   1991   1994   1998
     0      0      0      0      0      0      0      0      0      0      0
  2002   2006   2010   2014   2018   2022
     0      0      0      0      0      0

  region              party                          1973 1976 1979 1982 1985
1 0114 Upplands Väsby The Moderate Party             6    7    10   13   13
2 0114 Upplands Väsby The Centre Party               9    7    6    4    2
3 0114 Upplands Väsby The Liberal Party              4    5    5    3    6
4 0114 Upplands Väsby The Christian Democratic Party 0    0    0    1    0
5 0114 Upplands Väsby The Green Party                0    0    0    1    2
6 0114 Upplands Väsby The Social Democratic Party    19   19   23   24   23
  1988 1991 1994 1998 2002 2006 2010 2014 2018 2022
1 12   15   14   16   11   17   17   13   12   11
2 2    2    2    2    2    2    2    2     2    2
3 7    6    4    4    8    6    6    4     3    2
4 0    2    1    3    3    3    2    2     3    2
5 4    2    3    2    2    3    5    5     2    2
6 23   18   24   18   20   16   15   16   13   14

In [191]:
political_seats <- type.convert(political_seats, as.is = T)

In [192]:
political_seats <- political_seats %>%
    pivot_longer(
        cols = -c(region, party),
        names_to = "year",
        values_to = "value"
    )
head(political_seats)

  region              party              year value
1 0114 Upplands Väsby The Moderate Party 1973  6
2 0114 Upplands Väsby The Moderate Party 1976  7
3 0114 Upplands Väsby The Moderate Party 1979 10
4 0114 Upplands Väsby The Moderate Party 1982 13
5 0114 Upplands Väsby The Moderate Party 1985 13
6 0114 Upplands Väsby The Moderate Party 1988 12

In [193]:
political_seats <- political_seats %>% 
    pivot_wider(
        names_from = party,
        values_from = value
    )
head(political_seats)

  region              year The Moderate Party The Centre Party
1 0114 Upplands Väsby 1973  6                 9
2 0114 Upplands Väsby 1976  7                 7
3 0114 Upplands Väsby 1979 10                 6
4 0114 Upplands Väsby 1982 13                 4
5 0114 Upplands Väsby 1985 13                 2
6 0114 Upplands Väsby 1988 12                 2
  The Liberal Party The Christian Democratic Party The Green Party
1 4                 0                              0
2 5                 0                              0
3 5                 0                              0
4 3                 1                              1
5 6                 0                              2
6 7                 0                              4
  The Social Democratic Party The Left Party The Sweden Democrats Other Parties
1 19                          3              0                    0
2 19                          3              0                    0
3 23                          4              0                    1
4 24                          3              0                    0
5 23                          3              0                    0
6 23                          3              0                    0

### Income Statements

In [194]:
income <- read_delim("../datasets/income_statements.csv", delim = ",", locale = locale(encoding = "ISO-8859-1"), skip = 2)
income <- income[ , !(names(income) %in% "2022")]
income[income == ".."] <- "0"
income[is.na(income)] <- 0
income <- type.convert(income, as.is = T)
head(income, show_col_types = FALSE)

Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 2900 Columns: 27
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): region, Income statement, 1998, 1999, 2000, 2001, 2002
dbl (20): 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  region              Income statement                       1998     1999
1 0114 Upplands Väsby Total income for operations              313859   320220
2 0114 Upplands Väsby Total costs for operations             -1141598 -1203938
3 0114 Upplands Väsby Total net current costs                 -889629  -952527
4 0114 Upplands Väsby Tax revenues                             897383   949536
5 0114 Upplands Väsby General grants and equalisation grants    45111    45305
6 0114 Upplands Väsby Net profit/loss for operations                0        0
  2000     2001     2002     2003     2004     2005     ⋯ 2012     2013
1   336174   336141   323270   326945   338661   294027 ⋯   471479   535209
2 -1252714 -1350430 -1394331 -1425350 -1436221 -1482268 ⋯ -2118627 -2151509
3  -985316 -1087250 -1141651 -1173078 -1173210 -1262964 ⋯ -1707148 -1727400
4  1030710  1114591  1187046  1261155  1261098  1261400 ⋯  1527012  1591627
5    20248   -15154   -44613   -85979   -78680    11879 ⋯   219247   234573
6        0        0        0        0        0        0 ⋯        0        0
  2014     2015     2016     2017     2018     2019     2020     2021
1   456069   481597   583319   679812   647216   761770   821974   695537
2 -2243467 -2334378 -2569542 -2763185 -2855518 -2991574 -3141144 -3196316
3 -1860350 -2030832 -2075700 -2192740 -2325264 -2362143 -2445112 -2628115
4  1647867  1754223  1853785  1944788  1994208  2076660  2084321  2235203
5   250406   227687   256824   326711   342292   378413   570439   571510
6        0        0        0        0        0    92930   209648   178598

In [195]:
income <- pivot_longer(income, cols= -c("region", "Income statement"), names_to ="year", values_to="values")
income

      region              Income statement                      year values
1     0114 Upplands Väsby Total income for operations           1998   313859
2     0114 Upplands Väsby Total income for operations           1999   320220
3     0114 Upplands Väsby Total income for operations           2000   336174
4     0114 Upplands Väsby Total income for operations           2001   336141
5     0114 Upplands Väsby Total income for operations           2002   323270
6     0114 Upplands Väsby Total income for operations           2003   326945
7     0114 Upplands Väsby Total income for operations           2004   338661
8     0114 Upplands Väsby Total income for operations           2005   294027
9     0114 Upplands Väsby Total income for operations           2006   316172
10    0114 Upplands Väsby Total income for operations           2007   306945
11    0114 Upplands Väsby Total income for operations           2008   361300
12    0114 Upplands Väsby Total income for operations           2009   389718
13    0114 Upplands Väsby Total income for operations           2010   416746
14    0114 Upplands Väsby Total income for operations           2011   417300
15    0114 Upplands Väsby Total income for operations           2012   471479
16    0114 Upplands Väsby Total income for operations           2013   535209
17    0114 Upplands Väsby Total income for operations           2014   456069
18    0114 Upplands Väsby Total income for operations           2015   481597
19    0114 Upplands Väsby Total income for operations           2016   583319
20    0114 Upplands Väsby Total income for operations           2017   679812
21    0114 Upplands Väsby Total income for operations           2018   647216
22    0114 Upplands Väsby Total income for operations           2019   761770
23    0114 Upplands Väsby Total income for operations           2020   821974
24    0114 Upplands Väsby Total income for operations           2021   695537
25    0114 Upplands Väsby Total costs for operations            1998 -1141598
26    0114 Upplands Väsby Total costs for operations            1999 -1203938
27    0114 Upplands Väsby Total costs for operations            2000 -1252714
28    0114 Upplands Väsby Total costs for operations            2001 -1350430
29    0114 Upplands Väsby Total costs for operations            2002 -1394331
30    0114 Upplands Väsby Total costs for operations            2003 -1425350
⋮     ⋮                   ⋮                                     ⋮    ⋮
69571 2584 Kiruna         Net profit/loss after financial items 2016     795
69572 2584 Kiruna         Net profit/loss after financial items 2017   65444
69573 2584 Kiruna         Net profit/loss after financial items 2018  612491
69574 2584 Kiruna         Net profit/loss after financial items 2019  127898
69575 2584 Kiruna         Net profit/loss after financial items 2020  287593
69576 2584 Kiruna         Net profit/loss after financial items 2021  799074
69577 2584 Kiruna         Net profit/loss for the year          1998  -16441
69578 2584 Kiruna         Net profit/loss for the year          1999  -50404
69579 2584 Kiruna         Net profit/loss for the year          2000    4540
69580 2584 Kiruna         Net profit/loss for the year          2001   -6432
69581 2584 Kiruna         Net profit/loss for the year          2002  -27135
69582 2584 Kiruna         Net profit/loss for the year          2003  -10105
69583 2584 Kiruna         Net profit/loss for the year          2004   16197
69584 2584 Kiruna         Net profit/loss for the year          2005   36350
69585 2584 Kiruna         Net profit/loss for the year          2006   29137
69586 2584 Kiruna         Net profit/loss for the year          2007   34295
69587 2584 Kiruna         Net profit/loss for the year          2008     394
69588 2584 Kiruna         Net profit/loss for the year          2009   15620
69589 2584 Kiruna         Net profit/loss for the year          2010   24450
69590 2584 Kiruna         Net profit/loss for the year          2011   86760
69591 2584 Kiruna         Net profit/loss for the year          2012   13105
69592 2584 Kiruna         Net profit/loss for the year          2013  -57874
69593 2584 Kiruna         Net profit/loss for the year          2014  341559
69594 2584 Kiruna         Net profit/loss for the year          2015 2259704
69595 2584 Kiruna         Net profit/loss for the year          2016     795
69596 2584 Kiruna         Net profit/loss for the year          2017   65444
69597 2584 Kiruna         Net profit/loss for the year          2018  612491
69598 2584 Kiruna         Net profit/loss for the year          2019  127898
69599 2584 Kiruna         Net profit/loss for the year          2020  287593
69600 2584 Kiruna         Net profit/loss for the year          2021  799074

In [196]:
income <- type.convert(income, as.is = T)
head(income)

  region              Income statement            year values
1 0114 Upplands Väsby Total income for operations 1998 313859
2 0114 Upplands Väsby Total income for operations 1999 320220
3 0114 Upplands Väsby Total income for operations 2000 336174
4 0114 Upplands Väsby Total income for operations 2001 336141
5 0114 Upplands Väsby Total income for operations 2002 323270
6 0114 Upplands Väsby Total income for operations 2003 326945

In [197]:
grouped_data <- income %>%
  group_by(region, `Income statement`)

# Calculate the mean value for each four-year interval within each group
reduced_data <- grouped_data %>%
  mutate(interval = floor((year - first(year))/4) * 4 + first(year)) %>%
  group_by(region, `Income statement`, interval) %>%
  summarise(year = first(year), value = mean(values))

# Keep only the first year in each four-year interval
income <- reduced_data %>%
  group_by(region, `Income statement`) %>%
  filter(interval == year) %>%
  select(region, `Income statement`, year, value)

`summarise()` has grouped output by 'region', 'Income statement'. You can
override using the `.groups` argument.

In [198]:
head(income)

  region              Income statement year value
1 0114 Upplands Väsby Financial costs  1998 -24523.00
2 0114 Upplands Väsby Financial costs  2002  -2055.75
3 0114 Upplands Väsby Financial costs  2006   -639.00
4 0114 Upplands Väsby Financial costs  2010 -24194.25
5 0114 Upplands Väsby Financial costs  2014 -14283.50
6 0114 Upplands Väsby Financial costs  2018 -20137.75

In [199]:
income <- income %>% 
    pivot_wider(
        names_from = `Income statement`,
        values_from = value
    )
head(income)

  region              year Financial costs Financial income
1 0114 Upplands Väsby 1998 -24523.00         9788.00
2 0114 Upplands Väsby 2002  -2055.75         3965.75
3 0114 Upplands Väsby 2006   -639.00         7109.25
4 0114 Upplands Väsby 2010 -24194.25         9167.75
5 0114 Upplands Väsby 2014 -14283.50       196292.50
6 0114 Upplands Väsby 2018 -20137.75        13044.25
  General grants and equalisation grants Net profit/loss after financial items
1  23877.50                               27648.75
2 -49348.25                                6419.50
3  79793.00                               29956.00
4 212560.75                               35653.25
5 265407.00                              207676.50
6 465663.50                              116009.25
  Net profit/loss for operations Net profit/loss for the year Tax revenues
1      0                         110289.50                     998055
2      0                           3419.50                    1242675
3      0                          29956.00                    1373671
4      0                          35653.25                    1506149
5      0                         207676.50                    1800166
6 120294                         116009.25                    2097598
  Total costs for operations Total income for operations
1 -1237170                   326598.5
2 -1434543                   320725.8
3 -1697857                   343533.8
4 -2057643                   460183.5
5 -2477643                   550199.2
6 -3046138                   731624.2
  Total net current costs
1  -978680.5
2 -1187725.8
3 -1426587.0
4 -1667388.0
5 -2039905.5
6 -2440158.5