In [230]:
install.packages("readr")

Warning message:
"package 'readr' is in use and will not be installed"

In [231]:
library(tidyverse)
library(lubridate)
library(hms)
library(readr)
library(tidyr)
library(dplyr)

## TASK 1

### Political Seats

In [232]:
political_seats <- read_delim("../datasets/political_seats.csv", delim = ",", locale = locale(encoding = "ISO-8859-1"), skip = 2)
head(political_seats)

Rows: 2619 Columns: 17
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (15): region, party, 1973, 1976, 1979, 1982, 1985, 1988, 1991, 1994, 199...
dbl  (2): 2018, 2022

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  region              party                          1973 1976 1979 1982 1985
1 0114 Upplands Väsby The Moderate Party             6    7    10   13   13
2 0114 Upplands Väsby The Centre Party               9    7    6    4    2
3 0114 Upplands Väsby The Liberal Party              4    5    5    3    6
4 0114 Upplands Väsby The Christian Democratic Party 0    0    0    1    0
5 0114 Upplands Väsby The Green Party                ..   ..   ..   1    2
6 0114 Upplands Väsby The Social Democratic Party    19   19   23   24   23
  1988 1991 1994 1998 2002 2006 2010 2014 2018 2022
1 12   15   14   16   11   17   17   13   12   11
2 2    2    2    2    2    2    2    2     2    2
3 7    6    4    4    8    6    6    4     3    2
4 0    2    1    3    3    3    2    2     3    2
5 4    2    3    2    2    3    5    5     2    2
6 23   18   24   18   20   16   15   16   13   14

In [233]:
print(colSums(political_seats == ".."))

political_seats[political_seats==".."] <- "0"

print(colSums(political_seats == ".."))
head(political_seats)

region  party   1973   1976   1979   1982   1985   1988   1991   1994   1998
     0      0    673    680    666    347    347     63     45     27     18
  2002   2006   2010   2014   2018   2022
     9      9      9      9      0      0
region  party   1973   1976   1979   1982   1985   1988   1991   1994   1998
     0      0      0      0      0      0      0      0      0      0      0
  2002   2006   2010   2014   2018   2022
     0      0      0      0      0      0

  region              party                          1973 1976 1979 1982 1985
1 0114 Upplands Väsby The Moderate Party             6    7    10   13   13
2 0114 Upplands Väsby The Centre Party               9    7    6    4    2
3 0114 Upplands Väsby The Liberal Party              4    5    5    3    6
4 0114 Upplands Väsby The Christian Democratic Party 0    0    0    1    0
5 0114 Upplands Väsby The Green Party                0    0    0    1    2
6 0114 Upplands Väsby The Social Democratic Party    19   19   23   24   23
  1988 1991 1994 1998 2002 2006 2010 2014 2018 2022
1 12   15   14   16   11   17   17   13   12   11
2 2    2    2    2    2    2    2    2     2    2
3 7    6    4    4    8    6    6    4     3    2
4 0    2    1    3    3    3    2    2     3    2
5 4    2    3    2    2    3    5    5     2    2
6 23   18   24   18   20   16   15   16   13   14

In [234]:
political_seats <- type.convert(political_seats, as.is = T)

In [235]:
political_seats <- political_seats %>%
    pivot_longer(
        cols = -c(region, party),
        names_to = "year",
        values_to = "value"
    )
head(political_seats)

  region              party              year value
1 0114 Upplands Väsby The Moderate Party 1973  6
2 0114 Upplands Väsby The Moderate Party 1976  7
3 0114 Upplands Väsby The Moderate Party 1979 10
4 0114 Upplands Väsby The Moderate Party 1982 13
5 0114 Upplands Väsby The Moderate Party 1985 13
6 0114 Upplands Väsby The Moderate Party 1988 12

In [236]:
political_seats <- political_seats %>% 
    pivot_wider(
        names_from = party,
        values_from = value
    )
head(political_seats)

  region              year The Moderate Party The Centre Party
1 0114 Upplands Väsby 1973  6                 9
2 0114 Upplands Väsby 1976  7                 7
3 0114 Upplands Väsby 1979 10                 6
4 0114 Upplands Väsby 1982 13                 4
5 0114 Upplands Väsby 1985 13                 2
6 0114 Upplands Väsby 1988 12                 2
  The Liberal Party The Christian Democratic Party The Green Party
1 4                 0                              0
2 5                 0                              0
3 5                 0                              0
4 3                 1                              1
5 6                 0                              2
6 7                 0                              4
  The Social Democratic Party The Left Party The Sweden Democrats Other Parties
1 19                          3              0                    0
2 19                          3              0                    0
3 23                          4              0                    1
4 24                          3              0                    0
5 23                          3              0                    0
6 23                          3              0                    0

### Income Statements

In [237]:
income <- read_delim("../datasets/income_statements.csv", delim = ",", locale = locale(encoding = "ISO-8859-1"), skip = 2)
income <- income[ , !(names(income) %in% "2022")]
income[income == ".."] <- "0"
income[is.na(income)] <- 0
income <- type.convert(income, as.is = T)
head(income, show_col_types = FALSE)

Warning message:
"One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)"
Rows: 2900 Columns: 27
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (7): region, Income statement, 1998, 1999, 2000, 2001, 2002
dbl (20): 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  region              Income statement                       1998     1999
1 0114 Upplands Väsby Total income for operations              313859   320220
2 0114 Upplands Väsby Total costs for operations             -1141598 -1203938
3 0114 Upplands Väsby Total net current costs                 -889629  -952527
4 0114 Upplands Väsby Tax revenues                             897383   949536
5 0114 Upplands Väsby General grants and equalisation grants    45111    45305
6 0114 Upplands Väsby Net profit/loss for operations                0        0
  2000     2001     2002     2003     2004     2005     ⋯ 2012     2013
1   336174   336141   323270   326945   338661   294027 ⋯   471479   535209
2 -1252714 -1350430 -1394331 -1425350 -1436221 -1482268 ⋯ -2118627 -2151509
3  -985316 -1087250 -1141651 -1173078 -1173210 -1262964 ⋯ -1707148 -1727400
4  1030710  1114591  1187046  1261155  1261098  1261400 ⋯  1527012  1591627
5    20248   -15154   -44613   -85979   -78680    11879 ⋯   219247   234573
6        0        0        0        0        0        0 ⋯        0        0
  2014     2015     2016     2017     2018     2019     2020     2021
1   456069   481597   583319   679812   647216   761770   821974   695537
2 -2243467 -2334378 -2569542 -2763185 -2855518 -2991574 -3141144 -3196316
3 -1860350 -2030832 -2075700 -2192740 -2325264 -2362143 -2445112 -2628115
4  1647867  1754223  1853785  1944788  1994208  2076660  2084321  2235203
5   250406   227687   256824   326711   342292   378413   570439   571510
6        0        0        0        0        0    92930   209648   178598

In [238]:
income <- pivot_longer(income, cols= -c("region", "Income statement"), names_to ="year", values_to="values")
income

      region              Income statement                      year values
1     0114 Upplands Väsby Total income for operations           1998   313859
2     0114 Upplands Väsby Total income for operations           1999   320220
3     0114 Upplands Väsby Total income for operations           2000   336174
4     0114 Upplands Väsby Total income for operations           2001   336141
5     0114 Upplands Väsby Total income for operations           2002   323270
6     0114 Upplands Väsby Total income for operations           2003   326945
7     0114 Upplands Väsby Total income for operations           2004   338661
8     0114 Upplands Väsby Total income for operations           2005   294027
9     0114 Upplands Väsby Total income for operations           2006   316172
10    0114 Upplands Väsby Total income for operations           2007   306945
11    0114 Upplands Väsby Total income for operations           2008   361300
12    0114 Upplands Väsby Total income for operations           2009   389718
13    0114 Upplands Väsby Total income for operations           2010   416746
14    0114 Upplands Väsby Total income for operations           2011   417300
15    0114 Upplands Väsby Total income for operations           2012   471479
16    0114 Upplands Väsby Total income for operations           2013   535209
17    0114 Upplands Väsby Total income for operations           2014   456069
18    0114 Upplands Väsby Total income for operations           2015   481597
19    0114 Upplands Väsby Total income for operations           2016   583319
20    0114 Upplands Väsby Total income for operations           2017   679812
21    0114 Upplands Väsby Total income for operations           2018   647216
22    0114 Upplands Väsby Total income for operations           2019   761770
23    0114 Upplands Väsby Total income for operations           2020   821974
24    0114 Upplands Väsby Total income for operations           2021   695537
25    0114 Upplands Väsby Total costs for operations            1998 -1141598
26    0114 Upplands Väsby Total costs for operations            1999 -1203938
27    0114 Upplands Väsby Total costs for operations            2000 -1252714
28    0114 Upplands Väsby Total costs for operations            2001 -1350430
29    0114 Upplands Väsby Total costs for operations            2002 -1394331
30    0114 Upplands Väsby Total costs for operations            2003 -1425350
⋮     ⋮                   ⋮                                     ⋮    ⋮
69571 2584 Kiruna         Net profit/loss after financial items 2016     795
69572 2584 Kiruna         Net profit/loss after financial items 2017   65444
69573 2584 Kiruna         Net profit/loss after financial items 2018  612491
69574 2584 Kiruna         Net profit/loss after financial items 2019  127898
69575 2584 Kiruna         Net profit/loss after financial items 2020  287593
69576 2584 Kiruna         Net profit/loss after financial items 2021  799074
69577 2584 Kiruna         Net profit/loss for the year          1998  -16441
69578 2584 Kiruna         Net profit/loss for the year          1999  -50404
69579 2584 Kiruna         Net profit/loss for the year          2000    4540
69580 2584 Kiruna         Net profit/loss for the year          2001   -6432
69581 2584 Kiruna         Net profit/loss for the year          2002  -27135
69582 2584 Kiruna         Net profit/loss for the year          2003  -10105
69583 2584 Kiruna         Net profit/loss for the year          2004   16197
69584 2584 Kiruna         Net profit/loss for the year          2005   36350
69585 2584 Kiruna         Net profit/loss for the year          2006   29137
69586 2584 Kiruna         Net profit/loss for the year          2007   34295
69587 2584 Kiruna         Net profit/loss for the year          2008     394
69588 2584 Kiruna         Net profit/loss for the year          2009   15620
69589 2584 Kiruna         Net profit/loss for the year          2010   24450
69590 2584 Kiruna         Net profit/loss for the year          2011   86760
69591 2584 Kiruna         Net profit/loss for the year          2012   13105
69592 2584 Kiruna         Net profit/loss for the year          2013  -57874
69593 2584 Kiruna         Net profit/loss for the year          2014  341559
69594 2584 Kiruna         Net profit/loss for the year          2015 2259704
69595 2584 Kiruna         Net profit/loss for the year          2016     795
69596 2584 Kiruna         Net profit/loss for the year          2017   65444
69597 2584 Kiruna         Net profit/loss for the year          2018  612491
69598 2584 Kiruna         Net profit/loss for the year          2019  127898
69599 2584 Kiruna         Net profit/loss for the year          2020  287593
69600 2584 Kiruna         Net profit/loss for the year          2021  799074

In [239]:
income <- type.convert(income, as.is = T)
head(income)

  region              Income statement            year values
1 0114 Upplands Väsby Total income for operations 1998 313859
2 0114 Upplands Väsby Total income for operations 1999 320220
3 0114 Upplands Väsby Total income for operations 2000 336174
4 0114 Upplands Väsby Total income for operations 2001 336141
5 0114 Upplands Väsby Total income for operations 2002 323270
6 0114 Upplands Väsby Total income for operations 2003 326945

In [240]:
grouped_data <- income %>%
  group_by(region, `Income statement`)

# Calculate the mean value for each four-year interval within each group
reduced_data <- grouped_data %>%
  mutate(interval = floor((year - first(year))/4) * 4 + first(year)) %>%
  group_by(region, `Income statement`, interval) %>%
  summarise(year = first(year), value = mean(values))

# Keep only the first year in each four-year interval
income <- reduced_data %>%
  group_by(region, `Income statement`) %>%
  filter(interval == year) %>%
  select(region, `Income statement`, year, value)

`summarise()` has grouped output by 'region', 'Income statement'. You can
override using the `.groups` argument.

In [241]:
head(income)

  region              Income statement year value
1 0114 Upplands Väsby Financial costs  1998 -24523.00
2 0114 Upplands Väsby Financial costs  2002  -2055.75
3 0114 Upplands Väsby Financial costs  2006   -639.00
4 0114 Upplands Väsby Financial costs  2010 -24194.25
5 0114 Upplands Väsby Financial costs  2014 -14283.50
6 0114 Upplands Väsby Financial costs  2018 -20137.75

In [242]:
income <- income %>% 
    pivot_wider(
        names_from = `Income statement`,
        values_from = value
    )
head(income)

  region              year Financial costs Financial income
1 0114 Upplands Väsby 1998 -24523.00         9788.00
2 0114 Upplands Väsby 2002  -2055.75         3965.75
3 0114 Upplands Väsby 2006   -639.00         7109.25
4 0114 Upplands Väsby 2010 -24194.25         9167.75
5 0114 Upplands Väsby 2014 -14283.50       196292.50
6 0114 Upplands Väsby 2018 -20137.75        13044.25
  General grants and equalisation grants Net profit/loss after financial items
1  23877.50                               27648.75
2 -49348.25                                6419.50
3  79793.00                               29956.00
4 212560.75                               35653.25
5 265407.00                              207676.50
6 465663.50                              116009.25
  Net profit/loss for operations Net profit/loss for the year Tax revenues
1      0                         110289.50                     998055
2      0                           3419.50                    1242675
3      0                          29956.00                    1373671
4      0                          35653.25                    1506149
5      0                         207676.50                    1800166
6 120294                         116009.25                    2097598
  Total costs for operations Total income for operations
1 -1237170                   326598.5
2 -1434543                   320725.8
3 -1697857                   343533.8
4 -2057643                   460183.5
5 -2477643                   550199.2
6 -3046138                   731624.2
  Total net current costs
1  -978680.5
2 -1187725.8
3 -1426587.0
4 -1667388.0
5 -2039905.5
6 -2440158.5

In [243]:
df <- merge(political_seats, income, by = c("year", "region"))
head(df)

  year region              The Moderate Party The Centre Party
1 1998 0114 Upplands Väsby 16                 2
2 1998 0115 Vallentuna     16                 4
3 1998 0117 Österåker      20                 2
4 1998 0120 Värmdö         17                 2
5 1998 0123 Järfälla       18                 2
6 1998 0125 Ekerö          17                 3
  The Liberal Party The Christian Democratic Party The Green Party
1 4                 3                              2
2 2                 4                              2
3 3                 4                              2
4 2                 2                              2
5 5                 6                              2
6 3                 3                              4
  The Social Democratic Party The Left Party The Sweden Democrats ⋯
1 18                          5              0                    ⋯
2  9                          3              0                    ⋯
3 15                          3              0                    ⋯
4 13                          3              0                    ⋯
5 23                          5              0                    ⋯
6  9                          2              0                    ⋯
  Financial costs Financial income General grants and equalisation grants
1 -24523.00        9788.00          23877.50
2  -3282.00        3927.00          57182.00
3  -9833.00        2517.00           5019.25
4  -3350.25       10293.00          63439.00
5 -25041.25       39573.75         -19922.50
6 -15667.25        3988.00           8512.75
  Net profit/loss after financial items Net profit/loss for operations
1  27648.75                             0
2   -475.75                             0
3 -12078.50                             0
4  -8109.50                             0
5   2210.75                             0
6  -6576.50                             0
  Net profit/loss for the year Tax revenues Total costs for operations
1 110289.50                     998055.0    -1237170.0
2  16640.25                     576253.5     -755892.5
3 -12078.50                     905556.0    -1030488.8
4 -19606.00                     712872.5     -988970.0
5   2210.75                    1635131.8    -1937833.0
6  10872.25                     601955.5     -719280.5
  Total income for operations Total net current costs
1 326598.5                     -978680.5
2 169653.8                     -633760.0
3 151653.8                     -913898.8
4 233789.2                     -790366.8
5 447106.8                    -1625076.8
6 147936.8                     -604585.5

In [247]:
right <- rowSums(df[, c("The Christian Democratic Party", "The Liberal Party", "The Moderate Party")])
centre <- df[["The Centre Party"]]
left <- rowSums(df[, c("The Green Party", "The Left Party", "The Social Democratic Party")])
indices <- rownames(df)

In [248]:
majority <- character(length(right))
for (i in 1:length(right)) {
  if (indices[i] == "2018") {
    if (left[i] + centre[i] > right[i]) {
      majority[i] <- "left"
    } else if (left[i] + centre[i] < right[i]) {
      majority[i] <- "right"
    } else {
      majority[i] <- "tie"
    }
  } else {
    if (left[i] > right[i] + centre[i]) {
      majority[i] <- "left"
    } else if (left[i] < right[i] + centre[i]) {
      majority[i] <- "right"
    } else {
      majority[i] <- "tie"
    }
  }
}

In [249]:
df$majority <- majority

In [250]:
df

     year region              The Moderate Party The Centre Party
1    1998 0114 Upplands Väsby 16                  2
2    1998 0115 Vallentuna     16                  4
3    1998 0117 Österåker      20                  2
4    1998 0120 Värmdö         17                  2
5    1998 0123 Järfälla       18                  2
6    1998 0125 Ekerö          17                  3
7    1998 0126 Huddinge       17                  1
8    1998 0127 Botkyrka       14                  0
9    1998 0128 Salem          13                  1
10   1998 0136 Haninge        12                  1
11   1998 0138 Tyresö         18                  1
12   1998 0139 Upplands-Bro   11                  1
13   1998 0140 Nykvarn         6                  1
14   1998 0160 Täby           34                  0
15   1998 0162 Danderyd       24                  7
16   1998 0163 Sollentuna     24                  2
17   1998 0180 Stockholm      35                  0
18   1998 0181 Södertälje     15                  4
19   1998 0182 Nacka          26                  0
20   1998 0183 Sundbyberg     16                  0
21   1998 0184 Solna          23                  0
22   1998 0186 Lidingö        22                  2
23   1998 0187 Vaxholm        12                  2
24   1998 0188 Norrtälje      13                 12
25   1998 0191 Sigtuna        17                  2
26   1998 0192 Nynäshamn      12                  3
27   1998 0305 Håbo           13                  3
28   1998 0319 Älvkarleby      3                  1
29   1998 0330 Knivsta         0                  0
30   1998 0331 Heby            5                  9
⋮    ⋮    ⋮                   ⋮                  ⋮
1711 2018 2380 Östersund      10                 14
1712 2018 2401 Nordmaling      2                 13
1713 2018 2403 Bjurholm        7                  6
1714 2018 2404 Vindeln         5                  7
1715 2018 2409 Robertsfors     2                 10
1716 2018 2417 Norsjö          0                  3
1717 2018 2418 Malå            0                  1
1718 2018 2421 Storuman        2                 10
1719 2018 2422 Sorsele         1                  3
1720 2018 2425 Dorotea         0                  5
1721 2018 2460 Vännäs          3                  8
1722 2018 2462 Vilhelmina      1                  8
1723 2018 2463 Åsele           0                  9
1724 2018 2480 Umeå           11                  7
1725 2018 2481 Lycksele        6                  2
1726 2018 2482 Skellefteå      9                  7
1727 2018 2505 Arvidsjaur      1                 10
1728 2018 2506 Arjeplog        0                  4
1729 2018 2510 Jokkmokk        1                  0
1730 2018 2513 Överkalix       2                  4
1731 2018 2514 Kalix           9                  3
1732 2018 2518 Övertorneå      0                  6
1733 2018 2521 Pajala          2                  0
1734 2018 2523 Gällivare       7                  0
1735 2018 2560 Älvsbyn         0                  6
1736 2018 2580 Luleå           9                  5
1737 2018 2581 Piteå           6                  6
1738 2018 2582 Boden           8                  3
1739 2018 2583 Haparanda       4                  7
1740 2018 2584 Kiruna          3                 15
     The Liberal Party The Christian Democratic Party The Green Party
1    4                 3                              2
2    2                 4                              2
3    3                 4                              2
4    2                 2                              2
5    5                 6                              2
6    3                 3                              4
7    4                 4                              2
8    3                 4                              3
9    2                 2                              1
10   4                 4                              2
11   4                 2                              3
12   2                 4                              1
13   4                 1                              0
14   9                 4                              2
15   5                 3                              1
16   5                 5                              2
17   9                 6                              6
18   3                 4                              5
19   5                 4                              3
20   4                 3                              3
21   4                 4                              3
22   6                 4                              2
23   3                 2                              2
24   3                 4                              3
25   3                 2                              2
26   2                 3                              3
27   1                 2                              1
28   2                 1                              1
29   0                 0                              0
30   1                 3                              1
⋮    ⋮                 ⋮                              ⋮
1711 3                 3                              3
1712 1                 1                              0
1713 2                 2                              0
1714 0                 2                              0
1715 0                 1                              0
1716 3                 8                              0
1717 3                 0                              0
1718 2                 2                              0
1719 0                 0                              0
1720 4                 1                              0
1721 1                 2                              1
1722 0                 3                              0
1723 1                 0                              0
1724 4                 2                              4
1725 2                 6                              0
1726 4                 2                              2
1727 2                 0                              0
1728 2                 0                              0
1729 0                 0                              3
1730 0                 0                              0
1731 2                 0                              2
1732 0                 2                              0
1733 0                 3                              0
1734 0                 0                              5
1735 3                 2                              0
1736 3                 2                              2
1737 1                 2                              1
1738 2                 0                              1
1739 0                 2                              0
1740 0                 1                              0
     The Social Democratic Party The Left Party The Sweden Democrats ⋯
1    18                           5             0                    ⋯
2     9                           3             0                    ⋯
3    15                           3             0                    ⋯
4    13                           3             0                    ⋯
5    23                           5             0                    ⋯
6     9                           2             0                    ⋯
7    20                           5             0                    ⋯
8    25                           7             0                    ⋯
9    10                           2             0                    ⋯
10   29                           5             2                    ⋯
11   18                           4             0                    ⋯
12   17                           5             0                    ⋯
13   10                           2             0                    ⋯
14   10                           1             0                    ⋯
15    4                           1             0                    ⋯
16   15                           4             0                    ⋯
17   29                          13             0                    ⋯
18   27                           6             0                    ⋯
19   18                           5             0                    ⋯
20   19                           6             0                    ⋯
21   20                           7             0                    ⋯
22    7                           2             0                    ⋯
23    9                           1             0                    ⋯
24   22                           4             0                    ⋯
25   17                           4             0                    ⋯
26   16                           5             0                    ⋯
27   13                           2             0                    ⋯
28   15                           3             0                    ⋯
29    0                           0             0                    ⋯
30   14                           4             0                    ⋯
⋮    ⋮                           ⋮              ⋮                    ⋱
1711 18                           5             5                    ⋯
1712  7                           2             3                    ⋯
1713 10                           1             3                    ⋯
1714 12                           2             3                    ⋯
1715 15                           1             2                    ⋯
1716 14                           2             1                    ⋯
1717  8                           8             1                    ⋯
1718  7                           4             3                    ⋯
1719  8                           8             1                    ⋯
1720  8                           1             1                    ⋯
1721 10                           4             2                    ⋯
1722 10                           2             1                    ⋯
1723 12                           2             1                    ⋯
1724 20                          11             4                    ⋯
1725 11                           2             2                    ⋯
1726 30                           6             5                    ⋯
1727 11                           4             1                    ⋯
1728  9                           6             0                    ⋯
1729 10                           2             2                    ⋯
1730 14                           3             2                    ⋯
1731 17                           3             3                    ⋯
1732  9                           1             2                    ⋯
1733  7                           4             0                    ⋯
1734 15                           5             5                    ⋯
1735 13                           3             3                    ⋯
1736 24                           6             4                    ⋯
1737 19                           6             3                    ⋯
1738 17                           3             5                    ⋯
1739 10                           1             1                    ⋯
1740 12                           3             2                    ⋯
     Financial income General grants and equalisation grants
1       9788.00         23877.50
2       3927.00         57182.00
3       2517.00          5019.25
4      10293.00         63439.00
5      39573.75        -19922.50
6       3988.00          8512.75
7      60583.25        219690.25
8      26970.50        439295.75
9       1972.00         26690.25
10      7954.25        214116.50
11      3573.00         50387.00
12      3655.00         61937.75
13     10205.25          7194.25
14     33627.00       -297724.75
15     34716.50       -223347.25
16     74875.50        -51398.50
17   2338704.50       1968362.75
18    169659.75        305004.75
19     14036.00        -41448.75
20     35122.00         17988.50
21     47297.50        -65532.00
22     38328.50       -188060.25
23       921.75          4112.25
24     20645.50        306052.50
25      5172.50         74672.75
26     11700.75         68656.25
27      1211.50        -20261.75
28      3006.25         47610.25
29         0.00             0.00
30      1204.25        118987.00
⋮    ⋮                ⋮
1711 108855.25        1101749.50
1712    524.75         163880.00
1713    217.25          67272.00
1714    928.25         149507.00
1715    226.25         142221.00
1716   1026.25         112899.25
1717   1846.00          66929.75
1718   2236.50         174020.00
1719    282.00          77685.25
1720    649.00          90538.00
1721   8709.75         192484.00
1722  12413.75         234076.00
1723    791.75          94258.50
1724 170210.50        1010495.50
1725   9944.00         317013.75
1726 143603.25        1116751.50
1727   1347.00         142654.75
1728    393.25          64216.50
1729   1058.25         101747.75
1730    989.75          95830.50
1731   9514.50         282004.00
1732  15962.75         146183.75
1733   3471.75         199628.75
1734  34538.00         169565.00
1735   1249.50         184303.75
1736  73095.00         633685.75
1737  36765.25         448301.50
1738   7889.00         464836.25
1739   5944.75         266574.50
1740  13694.00         203822.75
     Net profit/loss after financial items Net profit/loss for operations
1     27648.75                             0
2      -475.75                             0
3    -12078.50                             0
4     -8109.50                             0
5      2210.75                             0
6     -6576.50                             0
7    -35642.25                             0
8     50293.25                             0
9     12059.25                             0
10   112015.50                             0
11    16075.75                             0
12    19011.50                             0
13    12377.00                             0
14   -65168.75                             0
15     3478.25                             0
16    37958.00                             0
17   475924.25                             0
18     1255.25                             0
19     6128.50                             0
20    15636.75                             0
21     9840.00                             0
22      171.00                             0
23     1849.75                             0
24     5727.50                             0
25    -8522.75                             0
26     1856.75                             0
27   -21835.00                             0
28    -7678.25                             0
29        0.00                             0
30    -3624.50                             0
⋮    ⋮                                     ⋮
1711 145756.50                              53556.50
1712   1128.75                               4170.50
1713  -3970.00                                332.50
1714  10544.25                               8797.00
1715  11040.50                              11092.25
1716 -15443.25                             -13184.00
1717   5591.25                               5895.00
1718  14929.00                              13019.00
1719   6815.50                               7293.75
1720   7632.75                               5388.00
1721  29839.75                              22104.75
1722 -12884.50                              -8130.75
1723  -2329.25                               2296.50
1724 266010.50                             246016.25
1725  26052.00                              13966.50
1726 230801.75                             169398.50
1727   6128.00                               6149.75
1728   4848.50                               9337.75
1729   1867.00                               1618.00
1730   5554.50                               5085.25
1731  36713.25                              31959.50
1732  18982.25                               8205.75
1733  20189.75                              17376.50
1734  18796.75                              -7951.75
1735   8223.75                               8542.25
1736 243807.50                             189190.50
1737 121148.00                              79501.50
1738  -1115.75                               1438.00
1739  39768.75                              28813.00
1740 456764.00                             306195.50
     Net profit/loss for the year Tax revenues Total costs for operations
1     110289.50                     998055.0    -1237170.0
2      16640.25                     576253.5     -755892.5
3     -12078.50                     905556.0    -1030488.8
4     -19606.00                     712872.5     -988970.0
5       2210.75                    1635131.8    -1937833.0
6      10872.25                     601955.5     -719280.5
7     375276.75                    2060344.5    -2774899.0
8     357772.75                    1730921.0    -2549213.8
9      41529.25                     341198.0     -401733.5
10    127954.25                    1677310.0    -2071675.0
11     15375.00                    1008177.0    -1234325.2
12     19011.50                     520647.0     -695405.0
13     22809.50                     158287.5     -185162.8
14    231238.00                    1721068.2    -1800674.8
15      8103.25                     996358.2    -1021623.2
16    122894.75                    1543294.0    -1844079.2
17   -165787.00                   19220569.5   -28237365.0
18    156865.75                    1890282.2    -2725045.5
19     34765.50                    1970812.8    -2368161.0
20     15636.75                     843922.8    -1085741.8
21    320418.50                    1390105.2    -1685802.5
22    149183.50                    1300978.2    -1335637.8
23     13249.25                     227150.5     -258822.8
24     -7802.50                    1175373.5    -1726985.8
25     77187.00                     856708.5    -1136967.0
26     38139.75                     587015.8     -774989.0
27    -24974.00                     446078.2     -476042.5
28     -7678.25                     237997.2     -339491.2
29         0.00                          0.0           0.0
30      -530.75                     283565.0     -456200.2
⋮    ⋮                            ⋮            ⋮
1711 145756.50                    3016257.0    -4851620.5
1712   1128.75                     331606.2     -586483.0
1713  -3970.00                     105160.8     -230165.5
1714  10544.25                     249933.0     -455178.8
1715  11040.50                     313577.5     -541064.5
1716 -15443.25                     188258.5     -390616.5
1717   6677.00                     152813.5     -304758.8
1718  14929.00                     269470.5     -560547.0
1719   6815.50                     114279.0     -254712.2
1720   4472.50                     120340.5     -274795.8
1721  29839.75                     426479.0     -830630.8
1722 -12884.50                     295547.0     -723302.0
1723  -2329.25                     122192.0     -281466.5
1724 266010.50                    6515102.2    -8644540.5
1725  26052.00                     584444.0    -1084878.5
1726 230801.75                    3643213.0    -6078675.0
1727   6128.00                     312018.8     -590645.5
1728   4848.50                     142636.5     -275443.0
1729   1867.00                     248489.2     -456083.8
1730   5554.50                     155131.5     -319942.2
1731  36713.25                     789958.5    -1262937.0
1732  18982.25                     186720.2     -403669.0
1733  20189.75                     280030.0     -560326.2
1734  18796.75                    1051396.8    -1569567.0
1735   8223.75                     375957.2     -672895.8
1736 243807.50                    4148595.8    -5460671.2
1737 121148.00                    2135083.2    -3002284.0
1738  -1115.75                    1425960.0    -2320048.0
1739  39768.75                     404596.0     -806501.2
1740 456764.00                    1375341.2    -1850938.5
     Total income for operations Total net current costs majority

## Task 2